<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/airsampo.css" />
    <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.1.custom.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css" />
    <script src="http://www.google.com/jsapi"></script>
    <script src="javascripts/jquery-1.9.1.js"></script>
    <script src="javascripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoj7QWz-XTSo2QhYnj9IMWRXkrlMjYqIU&libraries=geometry&sensor=false"></script>
    <script src="javascripts/airsampo.js"></script>
    <script>
      $(document).ready(function() {
        initialize("login", "<%= userName %>", "<%= message %>");
      });
    </script>
    <title>エアーさんぽ。</title>
  </head>

  <body>
    <!-- Navigation Bar -->
    <div id="navigationBar"></div>

    <div class="container wrapper">
      <div class="row-fluid">
        <div class="span8 offset2">
          <div class="page-header">
            <h3 style="margin-top: 60px">ログイン</h3>
          </div>
          <form method="post" action="/login/auth" id="authForm" class="form-horizontal">
            <div class="control-group">
              <label class="control-label">メールアドレス</label>
              <div class="controls">
                <input type="email" id="txtEmail" name="email" value="<%= email %>" class="" placeholder="E-mail" required></input>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">パスワード</label>
              <div class="controls">
                <input type="password" id="txtPassword" name="password" value="<%= password %>" class="" placeholder="Password" required></input>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button id="btnLogin" id="btnLogin" class="btn-large btn-primary" data-original-title="ログイン">ログイン</button>
              </div>
            </div>
          </form>

          <div id="authMessage" class="alert alert-error fade in" style="display:none; margin-top: 40px;">
            <%= message %>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        </div>
      </div>
    </div><!-- /container -->

    <!-- Footer -->
    <div id="footer" class="container"></div>

  </body>
</html>

