<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="stylesheets/airsampo.css" />
    <link rel="stylesheet" href="stylesheets/jquery-ui-1.10.1.custom.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="stylesheets/jquery.tagit.css">
    <script src="http://www.google.com/jsapi"></script>
    <script src="javascripts/jquery-1.9.1.js"></script>
    <script src="javascripts/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDoj7QWz-XTSo2QhYnj9IMWRXkrlMjYqIU&libraries=geometry&sensor=true"></script>
    <script src="javascripts/tag-it.min.js"></script>
    <script src="javascripts/airsampo.js"></script>
    <script>
      $(document).ready(function() {
        var _id = "<%= _id %>";
        initialize("record", "<%= userName %>", _id);
      });
    </script>
    <title>エアーさんぽ。</title>
  </head>

  <body>
    <input type="hidden" id="_id" value="<%= _id %>"></input>

    <!-- Navigation Bar -->
    <div id="navigationBar"></div>

    <div class="container">
      <div class="row-fluid">
        <div class="span1"></div>

        <div class="span8" style="margin-top: 50px;">
          <div class="page-header">
            <h3 style="margin-top: 20px">散歩コースを記録 <small>あなたオリジナルの素敵なさんぽコースを記録しよう！</small></h3>
          </div>
          <div class="row-fluid">
            <div class="span6">
              <!-- Search -->
              <form class="form-search">
                <div id="searchDiv" class="input-append pull-left">
                  <input type="text" id="txtSearch" class="span10 search-query" placeholder="住所、ランドマークなど">
                  <button id="btnSearch" class="btn"><i class="icon-search"></i></button>
                </div>
                <button id="btnHere" class="btn" data-original-title="現在地">現在地</button>
              </form>
            </div>

            <div class="span6" style="margin-top: 25px">
              <div class="btn-group pull-right">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  表示サイズ変更
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="javascript:void(0)" onclick="changePanoramaMapSize(1)">ストリートビュー（左側）拡大</a></li>
                  <li><a href="javascript:void(0)" onclick="changePanoramaMapSize(2)">地図（右側）拡大</a></li>
                  <li><a href="javascript:void(0)" onclick="changePanoramaMapSize(3)">均等割</a></li>
                  <li><a href="javascript:void(0)" onclick="changePanoramaMapSize(4)">ストリートビュー：60％　地図：40％</a></li>
                  <li><a href="javascript:void(0)" onclick="changePanoramaMapSize(5)">ストリートビュー：40％　地図：60％</a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Map & StreetView -->
          <div id="view">
            <div class="row-fluid">
              <div id="streetview" class="span8"></div>
              <div id="map_canvas" class="span4"></div>
            </div>
          </div>

          <!-- Control Button -->
          <div id="controlRecord">
            <div style="margin-left: 18%; margin-top: 5px">
              <!-- <div style="float: left;"><img src="images/right_arrow.gif" id="arrowRecordBtn"/></div> -->
              <div class="pull-left"><button name="btnRecord" id="btnRecord" class="btn btn-large btn-danger controlBtnLarge" data-original-title="記録"><i class="icon-facetime-video icon-white"></i></button></div>
              <div class="pull-left"><button name="btnPlay" id="btnPlay" class="btn btn-info controlBtnRecord" disabled data-original-title="再生" disabled><i class="icon-play icon-white"></i></button></div>
              <div class="pull-left"><button name="btnStop" id="btnStop" class="btn btn-primary controlBtnRecord" disabled data-original-title="停止" disabled><i class="icon-stop icon-white"></i></button></div>
              <span style="margin-top: 17px; float:left">　再生速度: </span>
              <div class="pull-left"><div id="playSpeedSliderRecord"></div></div>
              <div id="distance" class="pull-left"></div>
              <div><img src="images/running.gif" id="running" style="display: none;"></img></div>
              <div style="clear: left"></div>
            </div>
            <div id="panoramaSlider"></div>
          </div>
          <div id="message" class="alert alert-error fade in" style="display:none; margin-top: 20px;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            再生データがありません。
          </div>

          <div class="row-fluid" style="border: solid 1px;margin-top: 10px">
            <form method="post" action="/saveCourse" id="saveForm" class="form-horizontal">
              <div class="control-group">
                <label class="control-label">タイトル</label>
                <div class="controls">
                  <input type="text" id="txtTitle" name="txtTitle" value="<%= title %>" class="span10" placeholder="題して・・・" required></input>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">説明文とか</label>
                <div class="controls">
                  <textarea id="txtDescription" name="txtDescription" class="span10" rows="3" placeholder="感想、説明、何でもご自由にどうぞ"><%= description %></textarea>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">タグ</label>
                <div class="controls">
                  <ul id="tagList" class="span10"></ul>
                </div>
                  <br><br>
                  <span class="help-inline offset3">※タグは動画の説明、検索に使用されるキーワードです。</span>
              </div>
              <div class="control-group">
                <label class="control-label">カテゴリ</label>

                <div class="controls">
                  <div class="btn-group dropup pull-left">
                    <a id="catPlace" class="btn" href="javascript:void(0)"><strong>　場所　</strong></a>
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a id="catSpace" href="javascript:void(0)">&nbsp;</a></li>
                      <li class="dropdown-submenu">
                        <a id="catDomestic" href="javascript:void(0)">国内</a>
                        <ul class="dropdown-menu">
                          <li><a href="javascript:void(0)"> 北海道</a></li>
                          <li><a href="javascript:void(0)"> 東北</a></li>
                          <li><a href="javascript:void(0)"> 関東</a></li>
                          <li><a href="javascript:void(0)"> 北陸</a></li>
                          <li><a href="javascript:void(0)"> 甲信越</a></li>
                          <li><a href="javascript:void(0)"> 東海</a></li>
                          <li><a href="javascript:void(0)"> 近畿</a></li>
                          <li><a href="javascript:void(0)"> 中国</a></li>
                          <li><a href="javascript:void(0)"> 四国</a></li>
                          <li><a href="javascript:void(0)"> 九州</a></li>
                          <li><a href="javascript:void(0)"> 沖縄</a></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <a id="catAbroad" href="javascript:void(0)">海外</a>
                        <ul class="dropdown-menu">
                          <li><a href="javascript:void(0)"> アジア</a></li>
                          <li><a href="javascript:void(0)"> 北アメリカ</a></li>
                          <li><a href="javascript:void(0)"> 中南米</a></li>
                          <li><a href="javascript:void(0)"> ヨーロッパ</a></li>
                          <li><a href="javascript:void(0)"> ロシア</a></li>
                          <li><a href="javascript:void(0)"> アフリカ</a></li>
                          <li><a href="javascript:void(0)"> 南極</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>

                  <div class="btn-group dropup" style="margin-left: 20px">
                    <a id="catKind" class="btn" href="javascript:void(0)"><strong>　種類　</strong></a>
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul id="catKindUl" class="dropdown-menu">
                      <li><a id="catSpace2" href="javascript:void(0)">&nbsp;</a></li>
                      <li><a id="catSampo" href="javascript:void(0)"> さんぽ</a></li>
                      <li><a id="catGuide" href="javascript:void(0)"> 道案内</a></li>
                      <li class="dropdown-submenu">
                        <a id="catNature" href="javascript:void(0)">自然</a>
                        <ul class="dropdown-menu">
                          <li><a href="javascript:void(0)"> 海</a></li>
                          <li><a href="javascript:void(0)"> 山</a></li>
                          <li><a href="javascript:void(0)"> 滝</a></li>
                          <li><a href="javascript:void(0)"> 川</a></li>
                          <li><a href="javascript:void(0)"> 湖</a></li>
                          <li><a href="javascript:void(0)"> 自然公園</a></li>
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <a id="catArtificial" href="javascript:void(0)">人工物</a>
                        <ul class="dropdown-menu">
                          <li><a href="javascript:void(0)"> 神社・お寺</a></li>
                          <li><a href="javascript:void(0)"> 遺跡</a></li>
                          <li><a href="javascript:void(0)"> 城</a></li>
                          <li><a href="javascript:void(0)"> 博物館</a></li>
                          <li><a href="javascript:void(0)"> 水族館</a></li>
                          <li><a href="javascript:void(0)"> 動物園</a></li>
                          <li><a href="javascript:void(0)"> 植物園</a></li>
                          <li><a href="javascript:void(0)"> 学校</a></li>
                          <li><a href="javascript:void(0)"> 店内</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <button id="btnSave" id="btnSave" class="btn-large btn-inverse" data-original-title="確定"><i class="icon-thumbs-up icon-white"></i>&nbsp;確定</button>
                </div>
              </div>
            </form>
          </div>

        </div>

        <!-- Side Bar -->
        <div class="span2" style="margin-top: 100px;">
          <div class="sbox">
            <h2 style="text-align:center;">おすすめ</h2>
            <div class="sboxInner">
              <ul class="unstyled" id="recommendList"></ul>
              <div style="text-align: right"><a href="#">&raquo; もっと見る (123)</a></div>
            </div><!-- /sboxInner -->
          </div><!-- /sbox -->
        </div>

        <div class="span1"></div>
      </div>
    </div>

    <!-- Footer -->
    <div id="footer" class="container"></div>

<!--
    <br/><hr/>
    緯度: <input type="text" name="lat" id="lat" />
    経度: <input type="text" name="lng" id="lng" />
    <br/>
    heading: <input type="text" name="heading" id="heading" />
    pitch: <input type="text" name="pitch" id="pitch" />
    zoom: <input type="text" name="zoom" id="zoom" />
-->

  </body>
</html>
